.logo {
  font-family: "Permanent Marker", cursive;
}

.hero {
  display: flex;
  flex: 1;
  height: 360px;
  background-size: cover;
  background-image: url("../img/bg-slide-1.jpg");
}
.tombol {
  display: none;
}
.btn-mod {
  border-radius: 2px;
  height: auto;
  padding: 8px 37px;
  font-size: 12px;
  color: #111;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.btn-dark {
  border-radius: 2px;
  height: auto;
  padding: 8px 37px;
  font-size: 14px;
  color: white;
  background: #6f9ccc;
  text-transform: uppercase;
}
.btn-hitam {
  border-radius: 2px;
  height: auto;
  padding: 8px 37px;
  font-size: 14px;
  color: white;
  background: #3d3d3d;
  text-transform: uppercase;
}
.btn-hitam:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #ffff;
  text-decoration: none;
}
.btn-mod:hover {
  background: rgba(255, 255, 255, 1);
  color: #111;
  text-decoration: none;
}

.btn-dark:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-decoration: none;
}

.card-loker-link:hover {
  text-decoration: none;
}
.card-h:hover {
  box-shadow: 5px 10px #6f9ccc;
}
.card-h {
  box-shadow: none;
  transition: box-shadow 1s ease;
}

.section-pt {
  display: flex;
  flex: 1;
  /* height: 640px; */
  background-color: #6f9ccc;
  padding-bottom: 40px;
}
.section-pt h4 {
  color: #888888;
}

.pt {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  padding-bottom: 20px;
}
.img-loker {
  display: none;
}
.img-loker-hp {
  height: 100px;
}
p.text-spasi {
  margin-top: 20px;
}

.banner-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}

.block-blue {
  padding: 20px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6f9ccc;
  /* background-color: #f8f8f8; */
  color: #ffffff;
  text-align: center;
}

.block-gelap {
  padding: 20px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #315b88;
  /* background-color: #f8f8f8; */
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
.block-blue p {
  font-weight: 100;
  font-size: 14px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
.block-gelap p {
  font-weight: 100;
  font-size: 14px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
.block-blue p.bold {
  font-weight: 100;
  color: white;
  font-size: 15;
}

.section-pt p {
  font-weight: 100;
  font-size: 14px;
  /* margin: 0px; */
  color: rgba(255, 255, 255, 0.7);
}

.section-kontak {
  background-color: #f8f8f8;
  padding: 20px 20px;
}

.mt100 {
  margin-top: 100px;
}

.bg-gelap {
  background-color: #315b88;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
  .hero {
    margin-top: -75px;
    height: 720px;
  }
  .nav-link,
  .navbar-brand {
    color: white !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0.8);
  }

  .nav-link:hover {
    border-bottom: 3px solid white;
    margin-top: -5px;
  }
  .nav-link {
    transition: 0.7s ease;
  }
  .tombol {
    display: block;
  }

  .section-pt {
    display: flex;
    flex: 1;
    /* height: 360px; */
  }
  .img-loker {
    height: 150px;
  }
  .pt {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  p.text-spasi {
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .block-blue {
    height: 200px;
  }
  .block-gelap {
    height: 50px;
  }
  .img-loker {
    display: inherit;
  }
}
